.introjs-arrow {
  border: 5px solid transparent;
  content: "";
  position: absolute;
}

.introjs-arrow.top {
  top: -10px;
  left: 10px;
  border-bottom-color: $white;
}

.introjs-arrow.top-right {
  top: -10px;
  right: 10px;
  border-bottom-color: $white;
}

.introjs-arrow.top-middle {
  top: -10px;
  left: 50%;
  margin-left: -5px;
  border-bottom-color: $white;
}

.introjs-arrow.right {
  right: -10px;
  top: 10px;
  border-left-color: $white;
}

.introjs-arrow.right-bottom {
  bottom: 10px;
  right: -10px;
  border-left-color: $white;
}

.introjs-arrow.bottom {
  bottom: -10px;
  left: 10px;
  border-top-color: $white;
}

.introjs-arrow.bottom-right {
  bottom: -10px;
  right: 10px;
  border-top-color: $white;
}

.introjs-arrow.bottom-middle {
  bottom: -10px;
  left: 50%;
  margin-left: -5px;
  border-top-color: $white;
}

.introjs-arrow.left {
  left: -10px;
  top: 10px;
  border-right-color: $white;
}

.introjs-arrow.left-bottom {
  left: -10px;
  bottom: 10px;
  border-right-color: $white;
}